<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanxuan.csu.dao.PassageMapper">
    <resultMap id="BaseResultMap" type="com.xuanxuan.csu.model.Passage">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="platform_id" jdbcType="VARCHAR" property="platformId"/>
    </resultMap>
</mapper>