<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanxuan.csu.dao.ReplyMapper">
    <resultMap id="BaseResultMap" type="com.xuanxuan.csu.model.Reply">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="comment_id" jdbcType="VARCHAR" property="commentId"/>
        <result column="reply_id" jdbcType="VARCHAR" property="replyId"/>
        <result column="reply_type" jdbcType="INTEGER" property="replyType"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="from_uid" jdbcType="VARCHAR" property="fromUid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>